.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
}

.buttons-container button {
  width: 125px;
  height: 45px;
  background-color: #1e1e1e;
  color: #fefefe;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #ee1212;
}

.buttons-container .selected {
  background-color: #ee1212;
}
