 .medias {
  gap: 0.3rem;
  flex-direction: column;
  display: flex;
 }

 .medias-group {
  display: flex;
  gap: 2rem;
 }

 .socials {
    gap: 24px;
    flex-wrap: wrap;
    display: flex;
 }

 .socials hr {
    margin: 0;
    border: 1px solid #ee1212;
  }
  
  .socials ul {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0;
  }

  .footer-list {
    gap: 0;
  }

  .footer-column-list {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  
.footer-item {
    list-style-type: none;
    gap: 10px;
    display: flex;
    align-items: center;
  }
  
  footer {
    width: 100%;
    height: 240px;
    background-color: #0e0e0e;
    bottom: 0;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
  }
  
  .footer-content {
    width: 95%;
    justify-content: space-between;
    gap: 4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
  }
  
  
  .red {
    color: #ee1212;
  }

    
  .red a {
    display: flex;
    align-items: center;
  }

  .grey {
    color: #585858;
  }

  .darker-grey {
    color: #424242;
  }
  
  .darker-grey-svg {
    filter: invert(27%) sepia(5%) saturate(0%) hue-rotate(236deg) brightness(90%)
      contrast(95%);
  }
  
  .logo-icon {
    height: 52px;
    width: 52px;
  }
  
  .logo {
    text-transform: uppercase;
    gap: 1rem;
    display: flex;
    align-items: center;
  }

  
  @media (max-width: 399px) {
    .content-container {
      height: auto;
    }
  
    .discord-blogo {
      display: none;
    }
  }
  
  @media (max-width: 550px) {
    .logo-text {
      display: none;
    }
  
    footer {
      position: relative;
    }
  }
  
  @media (max-width: 1132px) {
    footer {
      height: auto;
    }
  }
  
  @media (max-height: 950px) {
    footer {
      position: relative;
    }
  }
  
  @media (max-height: 1800px) and (max-width: 800px) {
    footer {
      position: relative;
    }
  }
  
  @media (max-width: 1406px) and (max-height: 1190px) {
    footer {
      position: relative;
    }
  }
  
  @media (max-width: 450px) {
    .social-link {
      display: none;
    }
  }